p, h2, h3, h4, li {
	font-family: sans-serif
}

.code {
	font-family: monospace;
}

.cen_text {
	text-align: center;
}

#title {
	margin-bottom: 0;
}

#title_content {
	text-decoration: none;
	color: black;
}

#email {
	margin-top: 0;
}

.imbot {
	margin-bottom: 0;
}

.imtop {
	margin-top: 0;
}

.projname {
	font-weight: bold;
}

.sec_start {
	margin-top: 50px;
}

.pdf_frame {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}