p, h2, h3, h4, li {
	font-family: sans-serif
}

.code {
	font-family: monospace;
}

.cen_text {
	text-align: center;
}

#title {
	margin-bottom: 0;
}

#email {
	margin-top: 0;
}

.imbot {
	margin-bottom: 0;
}

.imtop {
	margin-top: 0;
}

.projname {
	font-weight: bold;
}